.Content{
  text-align: left;
  margin-left: 30%;
  margin-right: 20%;
  padding-left: 14%;
  font-size: larger;
  font-style: normal;
  background-color: rgba(80, 8, 8, 0.1);
  border-radius: 0px;
}
p{
  display: inline-block;
}

.title{
  margin-right: 10px;
  font-weight: 700;
}
body{
  background-color: bisque;
}
.img{
  border-width: 15px;
  border-style: none;
  border-color: rgb(7, 7, 4);
 border-radius: 14px;


}